/* General */
html {
  position: relative;
  min-height: 100%;
}

body{
  margin-top: 70px;
  /* Margin bottom by footer height + 20px for space */
  margin-bottom: 80px;
}

.form-horizontal .checkbox {
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.red {
  color: #b92c28;
}

.green {
  color: #398439;
}

.text-increase {
  font-size: 1.3em;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

/* Dropzone */
.dropzone-looks {
  background: #f9f9f9;
  border: 2px dashed #ddd;
  margin: 10px bottom;
}

.dropzone-looks .glyphicon-upload {
    opacity: 0.5;
}

/* DataTables */
.actions .glyphicon {
  font-size: 1.3em;
}

.actions .glyphicon:before {
  margin-right: 5px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer .container{
  height: 60px;
  line-height: 60px;
  text-align: right;
}

footer .container p{
  margin: 0;
}

/* Signin Form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

/* Evaluate */
.evaluation .text-box {
  margin: 5px;
  border: 1px #dedede solid;
  padding: 5px 10px;
  line-height: 1.5;
  border-radius: 3px;
  min-height: 100px;
  overflow-wrap: break-word;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.evaluation .p1 {
  color: grey;
}

.evaluation .guidelines {
  cursor: pointer;
  color: grey;
}

.evaluation .form-horizontal {
  margin-top: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.evaluation .form-horizontal textarea {
  resize: none;
}

.evaluation .go-to-page {
  display: inline-block;
  margin: 20px 0;
  width: 50%;
  height: 30px;
  font-size: 12px;
}

/* Invitations */
.invitation_token .input-group-addon, .invitation_token input {
  cursor: pointer;
}

