body{
  padding-top: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer .container{
  height: 60px;
  line-height: 60px;
  text-align: right;
}