/* General */
html {
  position: relative;
  min-height: 100%;
}

body{
  margin-top: 60px;
  /* Margin bottom by footer height + 20px for space 
  margin-bottom: 160px;*/
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
}

body > .container {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  body > .container {
    width: 100%;
  }
}

.home-body{
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-body > .container {
  margin-bottom: 0px;
}

.form-horizontal .checkbox {
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.red {
  color: #b92c28;
}

.green {
  color: #398439;
}

.text-increase {
  font-size: 1.3em;
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

.vertical-align {
  display: flex;
  align-items: baseline;
}

/* Dropzone */
.dropzone-looks {
  background: #f9f9f9;
  border: 2px dashed #ddd;
  margin: 10px bottom;
}

.dropzone-looks .glyphicon-upload {
    opacity: 0.5;
}

/* DataTables */

/* Footer */
footer {
  flex-grow: 0.1;
  margin-top: auto;
  width: 100%;
  background-color: #f5f5f5;
  padding: 1em;
}

footer .prompsit-info img {
  width: 100px;
  margin-top: 0.5em;
}

footer .prompsit-gradient {
  width: 100%;
  height: 4px;
  background: rgb(248,152,29);
  background: linear-gradient(120deg, rgba(248,152,29,1) 0%, rgba(0,74,122,1) 70%);
  margin-top: -1em;
}

footer .eu-logos img {
  height: 39px;
}

/* Signin Form */
.signin-page {
  max-width: 450px;
  margin: 0 auto;
  border: solid 1px #dadce0;
  border-radius: 5px 5px 5px 5px;

}

.form-signin {
  padding: 3em;
}

.signin-error-panel {
  border: 0;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signin-error-panel .panel-heading {
  border-radius: 0;
}

.form-signin-error {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .btn-signup {
  font-size: 14px;
  padding-left: 0;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.signin-title {
  text-align: center;
}

.signin-title img {
  height: 64px;
}

.signin-title .h3 {
  margin-top: 0px;
  margin-bottom: 1em;
}

.signin footer {
  background: transparent;
  padding: 0px;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

/* Evaluate */
.evaluation .text-box {
  margin-bottom: 1em;
  border: 1px #dedede solid;
  padding: 5px 10px 10px 5px;
  line-height: 1.5;
  border-radius: 3px;
  min-height: 100px;
  overflow-wrap: break-word;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  background: #f5f5f5;
  color: dimgrey;
  
}

.evaluation .p1 {
  color: grey;
}

.evaluation .guidelines {
  cursor: pointer;
  color: grey;
}

.evaluation .form-horizontal {
  margin-top: 10px;
  border-radius: 4px;
  padding: 15px;
}

.evaluation .annotation-box {
  background-color: #f5f5f5;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.evaluation .form-horizontal textarea {
  resize: none;
}

.evaluation .go-to-page, .evaluation .search-term {
  display: inline-block;
  margin: 20px 0;
  width: 50%;
  height: 30px;
  font-size: 12px;
}

.evaluation .breadcrumb{
  margin-bottom: 20px;
}


.container.evaluation{
  padding-top: 10px;
}

.evaluation-btn-group .btn {
  /*margin: 0 0 0.5em 0;*/
  position: static;
  white-space: normal;
}

.evaluation-btn-group .btn.active {
  border-width: 1px;
}

.evaluation-btn-group input[type="radio"] {
  display: none;
}

.evaluation-btn-group a {
  text-decoration: none;
  color: white;
}

.btn-group-annotation span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Invitations */
.invitation_token .input-group-addon, .invitation_token input, .invitation-link  {
  cursor: pointer;
}

table .progress{
  position: relative;
  margin-bottom: 0px;
}

table .progress span, #evaluate-percent {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    text-align: center;
}

.disabled{
    color: #aaa;
}

/* Homepage */
.home-container{
  width:100%;
}

.full-width{
  width: 100%;
  background: #FFFFFF url(../img/paracrawl-background.jpg) no-repeat right center;
  background-size: cover;
}

.home-banner {
  padding: 2em;
}

.home-banner img{
  height: 48px;
}

.home-banner h1 {
  color: white;
  text-align: left;
  font-size: 34px;
  line-height: 41px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-banner h2{
  color: white;
  text-align: left;
  font-size: 30px;
  line-height: 41px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}


.home-body .card .glyphicon{
    font-size: 60px;
    color: #4D4D4D
}

.home-body .card{
  background: rgba(255,255,255,0.7);
  min-height: 250px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  height: 100%;
}

.card-container{
/*  clear: both;*/
  position: relative;
  padding-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-container>div {
  margin-bottom: 1.5rem !important;
}


.card-title{
  color: #4D4D4D;
  font-size: 20px;
  line-height: 24px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-text{
  color: #4D4D4D;
  font-size: 18px;
  line-height: 22px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}


.grey-background{
  width: 100%;
  background: #E0E0E0 url(../img/background-v3.png) no-repeat left bottom;
  background-size: cover;
  min-height: 350px;
  position: relative;
}

.login-form {
  padding: 1em;
  background-color: #f5f5f5;
}

.line-separator {
  position: relative;
  text-align: center;
  margin: 1em 0em;
}

.line-separator::before {
  content: "";
  width: 100%;
  border-bottom: solid 1px #9f9f9f;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.line-separator span {
  position: relative;
  background-color: #f5f5f5;
  z-index: 1;
  padding: 0em 0.3em;
}

.home-footer-container{
  margin-right: 6%;
  margin-left: 6%;
  float: right;
  background-color: white;
}

.home-footer{
  background-color: white;
  width: 100%
}

.eu-logo{
    display: inline;
}

.legal-notice{
    font-size: x-small;
    display: inline;
}

.prompsit-info{
    display: inline;
}
.home-container .navbar-right{
  margin-right: 6%;
}

.home-container .navbar-header{
  margin-left: 6%;
}

.navbar-logo {
  margin: 5px 10px 0px 10px;
}

.navbar-logo-brand{
  position: relative;
  /*    display: block;*/
  padding: 10px 15px;
  vertical-align: text-top;

  color: white;
  font-size: 18px;
  /*  font-weight: bold; */
  /*  vertical-align: middle;*/
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;  
  padding-left: 0px;

}
.navbar-logo-brand:hover{
  color: #d9d9d9;
  text-decoration: none;
}

#navbar{
  background-color: #004A7A;
  border-color: #004A7A;
}

.paracrawl{
  text-align:center;
  padding-bottom: 20px;
}


.paracrawl-logo{
  background-color: white;
   max-width:125px;
   margin: 0 auto;
   border-radius: 4px;
   padding: 8px 0;
   
}
.paracrawl-logo img{
  width:100px;
}

.inline-img{
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
  
}

#paracrawl-logos-container{
  padding: 10px;
}

.navbar{
  background: #004A7A;
  border-color: #004A7A;
} 
.navbar-inverse {
  background: #004A7A;
  border-color: #004A7A;

}
.navbar-fixed-top{
  background: #004A7A;
  border-color: #004A7A;
}

.navbar-inverse .navbar-nav>li>a{
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #d9d9d9;
  text-decoration: none;
}

.nav .dropdown:active, .nav .open .dropdown-toggle {
  background: #004A7A !important; 
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-toggle{
  background: #004A7A !important;
}

#contact-mail-logo{
  padding-left: 5px;
  padding-right: 5px;
}

.dz-error-mark{
  background: red;
}


.dz-success-mark{
  background: green;
}

label>u{
  font-weight: bold;
}

.wrong-eval u{
  color: #d9534f;
}

.valid-eval u{
  color: seagreen;
}

.pending-eval u{
  color: darkorange;
}

/*.num-cell {
  text-align:  right;
}*/

/*.title-container{
  padding-top: 20px;
  padding-bottom: 40px;
}*/
/*
.inline{
  display: inline;
}

.float-right{
  float: right;  
}*/

.container-evaluation{
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

#stats-accordion .card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
}

#stats-accordion .card:not(:first-child) {
  border-top: 0px;
}

#stats-accordion .card:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#stats-accordion .card:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#stats-accordion .card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

#stats-accordion .card-header button{
  width: 100%;
  text-align: left;
  color: grey;
  font-weight: bold;
}


#stats-accordion .card-header button:hover{
  color: darkgrey;
}
#stats-accordion .card-header button:focus{
  outline:0;
}

#stats-accordion .btn-link:focus, #stats-accordion  .btn-link:hover {
/*  color: transparent;*/
  text-decoration: none;
}

#stats-accordion .card-body{
  padding-top: 20px;
}

.card-header .glyphicon{
  color: grey;
  font-size: 20px;
  float: right;
}

.sentence-source{
  margin-left: 20px;
}
.sentence-target{
  color: #004a7a;
  margin-left: 20px;
}

.link-row{
    float: right;
    margin-right: 20px;
}

.translation-box {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  border: 1px #dedede solid;
  padding: 0;
  margin-bottom: 2em;
}

  .translation-box .translation-box-content {
    background: #f5f5f5;
    padding: 0.5em;
    color: dimgrey;
    overflow-wrap: break-word;
  }

  .translation-box .translation-box-actions {
    background-color: transparent;
    display: flex;
  }

    .translation-box .translation-box-actions .translation-box-action {
      margin: 0;
      flex-grow: 1;
      width: 100%;
    }

    .translation-box .translation-box-actions .translation-box-action .btn {
      border-bottom: 0;
      border-right: 0;
      border-radius: 0;
      flex-grow: 1;
      width: 100%;
    }

    .translation-box .translation-box-actions .translation-box-action:first-child .btn {
      border-left: 0;
    }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons-menu .btn {
  margin-left: 0.5em;
  margin-top: 10px;
}

.card-label {
  float: right;
  margin-right: 0.5em;
}

.title-container .btn-link, .title-container .col-xs-12, .title-container .col-sm-12, .page-header .btn-link, .page-header .col-xs-12, .page-header .col-sm-12 {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .text-right-sm {
    text-align: right !important;
  }

  .search-form {
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 768px) {
  .search-form .form-control {
    margin-bottom: 1em;
  }

  .navbar .dropdown-header {
    font-weight: bold;
    color: white;
  }
  
  .navbar-nav .open .dropdown-menu > li > a {
    color: white !important;
  }
  
  .navbar-nav .open .dropdown-menu > li > a:hover,  .navbar-nav .open .dropdown-menu > li > a:active {
    color: #d9d9d9 !important;
  }

  .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
  }

  .nav-tabs > li {
    float: none;
  }
  
  .quickreference .row [class*="col-"]:nth-child(2) {
    margin-left: 2em;
  }

  .d-xs-none {
    display: none;
  }
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.number-container {
  background-color: #a8a6a6;
  width: 100%;
  height: 40px;
  color: white;
  border-radius: 5px 5px 5px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-container-small {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 0.25em;
}

/* Datatables */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
  content: '▼';
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 0px;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  color: #333339;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"].parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"].parent > th:first-child::before {
  content: "▲";
}

table.dataTable .child ul a {
  margin-right: 0.5em;
}

table.dataTable .child ul {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  display: block;
}

table.dataTable .actions {
  text-align: center;
  line-height: 1.3em;
}

table.dataTable .actions .glyphicon {
  font-size: 1.3em;
}

table.dataTable .actions .dropdown-menu .glyphicon {
  margin-right: 0.3em;
}

table.dataTable .actions .btn-link {
  padding: 0;
}

table.dataTable .actions li a {
  display: flex;
  align-items: center;
}

table.dataTable td:not(.actions) {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Buttons */

.btn-link.disabled, .btn-link-lg.disabled {
  color: dimgray;
}

.btn.disabled.active {
  border-width: 0.25em;
}

/* Quick reference table */

.quickreference .row {
  margin-top: 0px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px #ddd;
}

.quickreference .row:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.quickreference .row:last-child {
  border-bottom: none;
}

#examples > .row:first-child > div:first-child {
  border-radius: 5px 5px 0px 0px;
}

#examples > .row > div:first-child {
  background-color: #eee;
  padding: 0.75em;
  padding-left: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#examples .label {
  display: inline;
  vertical-align: middle;
  margin-right: 0.5em;
}

#examples > .row p {
  margin-top: 0.5em;
}

.evaluation-tab-content {
  margin-bottom: 0.5em;
}

#evaluation-help .modal-body {
  padding: 0;
}

#evaluation-help .modal-body-content {
  padding: 15px 15px 0px 15px;
}

#evaluation-help .nav-tabs > li.active > a, #evaluation-help .nav-tabs > li.active > a:focus, #evaluation-help .nav-tabs > li.active > a:hover {
  border-top-color: transparent;
  border-top-right-radius: 0px;
}

#evaluation-help .nav-tabs > li > a {
  border-radius: 0;
}

.arrow-list {
  list-style-type: none;
  padding: 0px;
}

.arrow-list li:before {
  content: "✔";
  font-size: 20px;
}

#evaluation-sentences a img {
  width: 24px;
}

/* Outline buttons */
.outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
}

.outline.inverted {
  color: white;
}

.outline:hover {
    color: #fff;
    border-color: transparent;
}

.outline.inverted:hover {
  color: #4d4d4d;
}

.btn-link.inverted {
  color: white;
}

.btn-previous {
  font-size: 14px;
}

.btn-primary.outline {
  color: #428bca;
}

.btn-success.outline {
  color: #5cb85c;
}

.btn-info.outline {
  color: #5bc0de;
}

.btn-warning.outline {
  color: #f0ad4e;
}

.btn-danger.outline {
  color: #d9534f;
}

.btn.outline:not(.inverted):hover, .btn.outline.active:not(.inverted) {
  color: #fff;
}

/*
  Color-contrast adjustments
*/
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover,
.breadcrumb>.active,
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
  color: #595959;
}

a {
  color: #24557F;
}

.navbar-header a:focus {
  color: white;
}

/* Checkbox */
.checkbox-custom {
  font-weight: inherit;
}

.checkbox-custom input {
  display: none;
}

.checkbox-custom .checkbox-control {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: solid #c2c8ce 1px;
  border-radius: 4px;
  line-height: 20px;
  vertical-align: top;
}

.checkbox-custom .checkbox-control:hover {
  background-color: #eee;
}

.checkbox-custom input:checked + .checkbox-control:hover {
  background-color: #47aa47;
  border-color: #47aa47;
}

.checkbox-custom:not(.disabled) input:not(:checked) + .checkbox-control:active {
  background-color: #ccc;
  box-shadow: inset 0px 1px #bbb;
}

.checkbox-custom input:checked + .checkbox-control {
  text-align: center;
  color: white;
  background: #449d44;
  border-color: #4cae4c;
}

.checkbox-custom input:checked + .checkbox-control:before {
  transition: all 0.3s ease;
  content: "";
  display: inline-block;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border: solid white;
  border-width: 0px 2px 2px 0px;
  position: relative;
  top: -2px;
}

.checkbox-custom.disabled input:checked + .checkbox-control {
  background: #85bf85;
  border-color: #7dae7d;
}

/* List groups in columns */
.list-group-columns .list-group-item {
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
}

.list-group-columns .list-group-item:nth-child(3n) {
  border-right: 0px;
}

.list-group-columns .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

@media screen and (max-width: 768px) {
  .list-group-columns .list-group-item {
    border: 0px;
  }
}